.intro-container{
    display: flex;
}

.photo{
    border-radius: 50em;
    border: 3px solid white;
}

.intro-text-wrap{
    color: white;
}
.intro-text1{
    font-size: 5em;
}
.intro-text2{
    font-size: 2em;
}
